<html>
	<head>
		<title>{{artist.name}}</title>
	</head>
	<body>
		<h1>List of songs for {{artist.name}}:</h1>
		<ul>
		{% for song in songs %}
			<li>
				<p>
					<strong>{{song.name}}</strong>&nbsp&nbsp - &nbsp&nbsp length: <strong>{{song.length}}</strong>
					<br>
					<a href={{ url_for('editSong', artist_id=artist.id, song_id=song.id )}}>Edit</a> | 
					<a href={{ url_for('deleteSong', artist_id=artist.id, song_id=song.id )}}>Delete</a>
				<p>
			</li>
		{% endfor %}
		</ul>
	</body>
</html>